body {
    background-color: pink;
}
nav {
    padding: 10px;
    text-align: center;
    color: white;
}
a {
    font-size: 3.5em;
    font:bold ;
}
a:hover {
    color: black;
}
h1 {
    text-align: center;
    color: white;
    font-size: 1em;
}
h2 {
    text-align: center;
    color: white;
    font-size: 1em;
}
h3 {
    text-align: center;
}
img {
    width: 20%;
    display: block;
    margin: auto;
}
p {
    color: white;
    text-align: center;
    font-style: normal;
    font-size: 2em;
}
footer {
    color: black;
    text-align: center;
}